/* 모달 전체 배경 */
.modal {
    display: none; /* 처음엔 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.762);
  }
  
  /* 모달 안 내용 */
  .modal-content {
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60vw;
    max-width: 40vw;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  }
  
  .title_t{
    font-weight: 800;
    margin: 5px auto;
    color: rgb(0, 0, 0);
  }

  .sub_t{
    font-weight: 400;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    background-color: none
    ;
  }


  /* 닫기 버튼 */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
  }
  
  .close:hover {
    color: rgb(74, 74, 74);
  }

  .modal_img {
    display: block;
    max-width: 100%;   /* 가로폭 컨테이너에 맞춤 */
    height: auto;      /* 비율 유지 */
    margin: 10px auto; /* 위아래 여백 + 가운데 정렬 */
    border-radius: 5px; /* 옵션: 모서리 둥글게 */
    object-fit: contain; /* 이미지 비율 유지하면서 컨테이너 안에 맞춤 */
}


